@page "/productosVIP/alta"
@using PracticaBlazor.UI.Client.Services.CategoriaService
@using PracticaBlazor.UI.Client.Services.ProductoService
@using PracticaBlazor.UI.Client.Services.ProductoVIPService
@inject IProductoVIPService ProductoVIPService
@inject NavigationManager Navigation
@inject ICategoriaService CategoriaService
@inject IProductoService ProductoService



<div class="container">
    <h1>EN REVISIÓN</h1>
    @if (_productosEspera == null)
    {
        <div id="app" class="d-flex justify-content-center">
            <div class="spinner-border" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
    }
    else
    {
        <div id="accordion">
            @for (var i = 0; i < _productosEspera.Count; i++)
            {
                int index = i;
                string head = "heading" + index;
                string collapsed = "collapse" + index;

                <div class="card">
                    <div class="card-header" id="@head">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#@collapsed" aria-expanded="false" aria-controls="@collapsed">
                                @_productosEspera[index].Nombre
                            </button>
                        </h5>
                    </div>
                    
                    <div id="@collapsed" class="collapse" aria-labelledby="@head" data-parent="#accordion">
                        <EditForm Model="@_producto" Context="formContext">
                            <DataAnnotationsValidator />
                        <div class="card-body">
                            <div class="form-group">
                                <div class="productosVIPdiv">
                                    <div>
                                        <label class="tamañoFont">Nombre: </label>
                                        <label class="tamañoFont" style="font-weight: bold;">@_productosEspera[index].Nombre</label>
                                    </div>
                                    <div>
                                        <label>Precio Min: </label>
                                        <label class="tamañoFont" style="font-weight: bold;">@_productosEspera[index].PrecioMin €</label>
                                        <label style="margin-left:10px;">Precio Max: </label>
                                        <label class="tamañoFont" style="font-weight: bold;">@_productosEspera[index].PrecioMax €</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="productosVIPdiv">
                                    <div>
                                        <img style="width: 300px; height: 300px;" alt="@_productosEspera[index].Imagen" title="@_productosEspera[index].Imagen" class="img-primary" data-src="@_productosEspera[index].Imagen" src="@_productosEspera[index].Imagen" />
                                    </div>
                                    <div>
                                        <label>Categoría: </label>
                                        <InputSelect class="inputPersonalizado" @bind-Value="_producto.Categoria">
                                            @foreach (var cat in _categorias)
                                            {
                                                <option value="@cat.Id" selected>@cat.Nombre</option>
                                            }
                                        </InputSelect>
                                        <label style="margin-left:10px;">Precio Definitivo: </label>
                                        <InputNumber @bind-Value="_producto.Precio" />
                            </div>
                        </div>

                    </div>
                    <div class="form-group">
                        <div>
                            <label class="tamañoFont">Descripción: </label>
                        </div>
                        <div>
                            <label class="tamañoFont" style="font-weight: bold;">@_productosEspera[index].Descripcion</label>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary" disabled="@(!formContext.Validate())"  @onclick="( () =>Aceptar(formContext, _productosEspera[index] ))" >Aceptar</button>
                    <button type="submit" class="btn btn-primary" @onclick="( () =>Denegar(formContext, _productosEspera[index] ))">Denegar</button>
                    
                    
                </div>
                </EditForm>
            </div>           
        </div>


            }
        </div>
    }


    <h1 style="color:#58e53f;">ADMITIDOS</h1>
    @if (_productoAdmitido == null)
    {
        <div id="app" class="d-flex justify-content-center">
            <div class="spinner-border" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
    }
    else
    {
        <div id="accordion">
            @for (var i = 0; i < _productoAdmitido.Count; i++)
            {
                int index = i;
                string head = "heading" + (index+10000);
                string collapsed = "collapse" + (index+10000);

                <div class="card">
                    <div class="card-header" id="@head">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#@collapsed" aria-expanded="false" aria-controls="@collapsed">
                                @_productoAdmitido[index].Nombre
                            </button>
                        </h5>
                    </div>
                    
                    <div id="@collapsed" class="collapse" aria-labelledby="@head" data-parent="#accordion">
                        <EditForm Model="@_producto" Context="formContext">
                            <DataAnnotationsValidator />
                        <div class="card-body">
                            <div class="form-group">
                                <div class="productosVIPdiv">
                                    <div>
                                        <label class="tamañoFont">Nombre: </label>
                                        <label class="tamañoFont" style="font-weight: bold;">@_productoAdmitido[index].Nombre</label>
                                    </div>
                                    <div>
                                        <label>Precio Min: </label>
                                        <label class="tamañoFont" style="font-weight: bold;">@_productoAdmitido[index].PrecioMin €</label>
                                        <label style="margin-left:10px;">Precio Max: </label>
                                        <label class="tamañoFont" style="font-weight: bold;">@_productoAdmitido[index].PrecioMax €</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="productosVIPdiv">
                                    <div>
                                        <img style="width: 300px; height: 300px;" alt="@_productoAdmitido[index].Imagen" title="@_productoAdmitido[index].Imagen" class="img-primary" data-src="@_productoAdmitido[index].Imagen" src="@_productoAdmitido[index].Imagen" />
                                    </div>
                                    <div>
                                        <label>Categoría: </label>
                                        <InputSelect class="inputPersonalizado" @bind-Value="_producto.Categoria">
                                            @foreach (var cat in _categorias)
                                            {
                                                <option value="@cat.Id" selected>@cat.Nombre</option>
                                            }
                                        </InputSelect>
                                        <label style="margin-left:10px;">Precio Definitivo: </label>
                                        <InputNumber @bind-Value="_producto.Precio" />
                            </div>
                        </div>

                    </div>
                    <div class="form-group">
                        <div>
                            <label class="tamañoFont">Descripción: </label>
                        </div>
                        <div>
                            <label class="tamañoFont" style="font-weight: bold;">@_productoAdmitido[index].Descripcion</label>
                        </div>
                    </div>
                    
                    
                </div>
                </EditForm>
            </div>           
        </div>


            }
        </div>
    }




    <h1 style="color:#ff6b6b;">DENEGADOS</h1>
    @if (_productoDenegado == null)
    {
        <div id="app" class="d-flex justify-content-center">
            <div class="spinner-border" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
    }
    else
    {
        <div id="accordion">

            @for (var i = 0; i < _productoDenegado.Count; i++)
            {
                int index = i;
                string head = "heading" + (index+100000);
                string collapsed = "collapse" + (index+100000);

                <div class="card">
                    <div class="card-header" id="@head">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#@collapsed" aria-expanded="false" aria-controls="@collapsed">
                                @_productoDenegado[index].Nombre
                            </button>
                        </h5>
                    </div>
                    
                    <div id="@collapsed" class="collapse" aria-labelledby="@head" data-parent="#accordion">
                        <div class="card-body">
                            <div class="form-group">
                                <div class="productosVIPdiv">
                                    <div>
                                        <label class="tamañoFont">Nombre: </label>
                                        <label class="tamañoFont" style="font-weight: bold;">@_productoDenegado[index].Nombre</label>
                                    </div>
                                    <div>
                                        <label>Precio Min: </label>
                                        <label class="tamañoFont" style="font-weight: bold;">@_productoDenegado[index].PrecioMin €</label>
                                        <label style="margin-left:10px;">Precio Max: </label>
                                        <label class="tamañoFont" style="font-weight: bold;">@_productoDenegado[index].PrecioMax €</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="productosVIPdiv">
                                    <div>
                                        <img style="width: 300px; height: 300px;" alt="@_productoDenegado[index].Imagen" title="@_productoDenegado[index].Imagen" class="img-primary" data-src="@_productoDenegado[index].Imagen" src="@_productoDenegado[index].Imagen" />
                                    </div>
                                    <div>
                                        <label>Categoría: </label>
                                        <label>@_productoDenegado[index].Categoria</label>
                                        <label style="margin-left:10px;">Precio Definitivo: </label>
                                        <label>@_productoDenegado[index].PrecioFinal</label>
                            </div>
                        </div>

                    </div>
                    <div class="form-group">
                        <div>
                            <label class="tamañoFont">Descripción: </label>
                        </div>
                        <div>
                            <label class="tamañoFont" style="font-weight: bold;">@_productoDenegado[index].Descripcion</label>
                        </div>
                    </div>
                    
                    
                </div>
            </div>           
        </div>


            }
        </div>
    }


</div>





