 @page "/usuario/registro"
@using PracticaBlazor.UI.Shared.Models
@using PracticaBlazor.UI.Client.Services.UsuarioService
@inject HttpClient Http
@inject NavigationManager Navigation
@inject IUsuarioService UsuarioService
@inject IToastService toastService


<div id="account-register" class="container containerPers">
    <ul class="breadcrumb">
        <li><a href="/"><i class="fa fa-home"></i></a></li>
        <li><a href="/usuario/registro">Cuenta</a></li>
        <li><span>Registro</span></li>
    </ul>
    <div class="row">
        <div id="content" class="col-sm-12">
            <p>Si ya tienes una cuenta con nosotros, por favor inicia sesión en <a href="/login">página de inicio de sesión</a>.</p>
            <EditForm Model="@_usuario" OnValidSubmit="Post">
                <DataAnnotationsValidator />
                <fieldset id="account">
                    <legend>Tus Detalles Personales</legend>
                    <div class="form-group" style="display:  none ;">
                        <label class="col-sm-2 control-label">Customer Group</label>
                        <div class="col-sm-10">
                            <div class="radio">
                                <input type="radio" name="customer_group_id" value="1" checked="checked" id="customer_group_id1"><label for="customer_group_id1">

                                    Default
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group required">
                        <label class="col-sm-2 control-label" for="input-username">Username</label>
                        <div class="col-sm-10">
                            <InputText  type="text" name="username"  placeholder="User Name" id="input-username" @bind-Value="_usuario.Username" class="form-control"/>
                            <ValidationMessage For="@(() => _usuario.Username)"/>
                        </div>
                    </div>
                    <div class="form-group required">
                        <label class="col-sm-2 control-label" for="input-firstname">Nombre</label>
                        <div class="col-sm-10">
                            <InputText  type="text" name="firstname"  placeholder="Nombre" id="input-firstname" @bind-Value="_usuario.Nombre" class="form-control"/>
                            <ValidationMessage For="@(() => _usuario.Nombre)"/>
                        </div>
                    </div>
                    <div class="form-group required">
                        <label class="col-sm-2 control-label" for="input-lastname">Apellidos</label>
                        <div class="col-sm-10">
                            <InputText  type="text" name="lastname" @bind-Value="_usuario.Apellidos" placeholder="Apellidos" id="input-lastname" class="form-control"/>
                            <ValidationMessage For="@(() => _usuario.Apellidos)"/> 
                        </div>
                    </div>
                    <div class="form-group required">
                        <label class="col-sm-2 control-label" for="input-email">E-Mail</label>
                        <div class="col-sm-10">
                            <InputText type="email" name="email" @bind-Value="_usuario.Email" placeholder="E-Mail" id="input-email" class="form-control"/>
                            <ValidationMessage For="@(() => _usuario.Email)"/>
                        </div>
                    </div>
                    <div class="form-group required">
                        <label class="col-sm-2 control-label" for="input-telephone">Teléfono</label>
                        <div class="col-sm-10">
                            <InputText type="tel" name="telephone" @bind-Value="_usuario.Telefono" placeholder="Teléfono" id="input-telephone" class="form-control"/>
                            <ValidationMessage For="@(() => _usuario.Telefono)"/> 
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <legend>Tu Contraseña</legend>
                    <div class="form-group required">
                        <label class="col-sm-2 control-label" for="input-password">Contraseña</label>
                        <div class="col-sm-10">
                            <InputText  type="password" name="password" @bind-Value="_usuario.Password" placeholder="Contraseña" id="input-password" class="form-control"/>
                            <ValidationMessage For="@(() => _usuario.Password)"/>   
                        </div>
                    </div>
                    <div class="form-group required">
                        <label class="col-sm-2 control-label" for="input-confirm">Confirmar Contraseña</label>
                        <div class="col-sm-10">
                            <InputText type="password" name="confirm" @bind-Value="_usuario.ConfirmPassword" placeholder="Confirma Contraseña" id="input-confirm" class="form-control"/>
                            <ValidationMessage For="@(() => _usuario.ConfirmPassword)"/> 
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <legend>Boletín de noticias</legend>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Suscribirse</label>
                        <div class="col-sm-10">
                            <input type="radio" name="newsletter" value="1" id="newsletter1"><label class="radio-inline" for="newsletter1">

                                Yes
                            </label>
                            <input type="radio" name="newsletter" value="0" checked="checked" id="newsletter0"><label class="radio-inline" for="newsletter0">

                                No
                            </label>
                        </div>
                    </div>
                </fieldset>

                <div class="buttons">
                    <div class="pull-right">
                        He leído y acepto las <a href="https://livedemo00-opencart.template-help.com/opencart_prod-23516/index.php?route=information/information/agree&amp;information_id=3" class="agree"><b>Política de privacidad</b></a>
                        <input type="checkbox" name="agree" value="1" id="agree1"><label for="agree1"></label>
                        &nbsp;
                        <input type="submit"  value="Registrarse" class="btn btn-primary" >
                    </div>
                </div>
            </EditForm>
        </div>
    </div>
</div>



