@page "/usuario/registro"
@using PracticaBlazor.UI.Shared.Models
@inject HttpClient Http
@inject NavigationManager Navigation


<div id="account-register" class="container">
    <ul class="breadcrumb">
        <li><a href="/"><i class="fa fa-home"></i></a></li>
        <li><a href="/usuario/registro">Account</a></li>
        <li><span>Register</span></li>
    </ul>
    <div class="row">
        <div id="content" class="col-sm-12">
            <p>If you already have an account with us, please login at the <a href="/login">login page</a>.</p>
            <EditForm Model="@_usuario" OnValidSubmit="Post">
                <DataAnnotationsValidator />
                <fieldset id="account">
                    <legend>Your Personal Details</legend>
                    <div class="form-group required" style="display:  none ;">
                        <label class="col-sm-2 control-label">Customer Group</label>
                        <div class="col-sm-10">
                            <div class="radio">
                                <input type="radio" name="customer_group_id" value="1" checked="checked" id="customer_group_id1"><label for="customer_group_id1">

                                    Default
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group required">
                        <label class="col-sm-2 control-label" for="input-username">Username</label>
                        <div class="col-sm-10">
                            <InputText  type="text" name="username"  placeholder="User Name" id="input-username" @bind-Value="_usuario.Username" class="form-control"/>
                            <ValidationMessage For="@(() => _usuario.Username)"/>
                        </div>
                    </div>
                    <div class="form-group required">
                        <label class="col-sm-2 control-label" for="input-firstname">First Name</label>
                        <div class="col-sm-10">
                            <InputText  type="text" name="firstname"  placeholder="First Name" id="input-firstname" @bind-Value="_usuario.Nombre" class="form-control"/>
                            <ValidationMessage For="@(() => _usuario.Nombre)"/>
                        </div>
                    </div>
                    <div class="form-group required">
                        <label class="col-sm-2 control-label" for="input-lastname">Last Name</label>
                        <div class="col-sm-10">
                            <InputText  type="text" name="lastname" @bind-Value="_usuario.Apellidos" placeholder="Last Name" id="input-lastname" class="form-control"/>
                            <ValidationMessage For="@(() => _usuario.Apellidos)"/> 
                        </div>
                    </div>
                    <div class="form-group required">
                        <label class="col-sm-2 control-label" for="input-email">E-Mail</label>
                        <div class="col-sm-10">
                            <InputText type="email" name="email" @bind-Value="_usuario.Email" placeholder="E-Mail" id="input-email" class="form-control"/>
                            <ValidationMessage For="@(() => _usuario.Email)"/>
                        </div>
                    </div>
                    <div class="form-group required">
                        <label class="col-sm-2 control-label" for="input-telephone">Telephone</label>
                        <div class="col-sm-10">
                            <InputText type="tel" name="telephone" @bind-Value="_usuario.Telefono" placeholder="Telephone" id="input-telephone" class="form-control"/>
                            <ValidationMessage For="@(() => _usuario.Telefono)"/> 
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <legend>Your Password</legend>
                    <div class="form-group required">
                        <label class="col-sm-2 control-label" for="input-password">Password</label>
                        <div class="col-sm-10">
                            <InputText  type="password" name="password" @bind-Value="_usuario.Password" placeholder="Password" id="input-password" class="form-control"/>
                            <ValidationMessage For="@(() => _usuario.Password)"/>   
                        </div>
                    </div>
                    <div class="form-group required">
                        <label class="col-sm-2 control-label" for="input-confirm">Password Confirm</label>
                        <div class="col-sm-10">
                            <InputText type="password" name="confirm" @bind-Value="_usuario.ConfirmPassword" placeholder="Password Confirm" id="input-confirm" class="form-control"/>
                            <ValidationMessage For="@(() => _usuario.ConfirmPassword)"/> 
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <legend>Newsletter</legend>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Subscribe</label>
                        <div class="col-sm-10">
                            <input type="radio" name="newsletter" value="1" id="newsletter1"><label class="radio-inline" for="newsletter1">

                                Yes
                            </label>
                            <input type="radio" name="newsletter" value="0" checked="checked" id="newsletter0"><label class="radio-inline" for="newsletter0">

                                No
                            </label>
                        </div>
                    </div>
                </fieldset>

                <div class="buttons">
                    <div class="pull-right">
                        I have read and agree to the <a href="https://livedemo00-opencart.template-help.com/opencart_prod-23516/index.php?route=information/information/agree&amp;information_id=3" class="agree"><b>Privacy Policy</b></a>
                        <input type="checkbox" name="agree" value="1" id="agree1"><label for="agree1"></label>
                        &nbsp;
                        <input type="submit" value="Continue" class="btn btn-primary">
                    </div>
                </div>
            </EditForm>
        </div>
    </div>
</div>



