@page "/productos"
@using PracticaBlazor.UI.Shared.Models
@inject HttpClient Http
@inject NavigationManager Navigation

<h3>Productos Shop</h3>

@if (_productos == null)
{
    <p><em>Cargando...</em></p>
}
else
{
    @foreach (var chunk in _productos.Chunk(4))
    {
        <div class="card-group" style="margin-bottom: 40px;">
            @foreach (var producto in chunk)
            {
                <div class="col-sm-3">
                    <div class="product-thumb transition  options ">
                        <div class="image">
                            <a class="lazy lazy-loaded" href="/producto/ver/@producto.Id" style="padding-bottom: 100%">
                                <img  alt="@producto.Nombre" title="@producto.Nombre" class="img-primary" data-src="@producto.Imagen" src="@producto.Imagen"/>
                                <img  alt="@producto.Nombre" title="@producto.Nombre" class="img-secondary" data-src="@producto.Imagen" src="@producto.Imagen"/>
                            </a>
                        </div>
                        <div class="caption">
                            <div class="price">
                                $120.00
                            </div>
                            <div class="name"><a @onclick="(() => VerDetalle(producto.Id))">@producto.Nombre</a></div>
                            <div class="description">@producto.Descripcion</div>
                            <div class="button-group">
                                <button type="button" class="product-btn cart-btn" data-toggle="tooltip" title="" onclick="ajaxAdd($(this),50);" data-original-title="Add to Cart">
                                    <i class="linearicons-cart"></i>
                                </button>
                                <button type="button" class="product-btn" data-toggle="tooltip" title="" onclick="wishlist.add('50');" data-original-title="Add to Wish List"><i class="linearicons-heart"></i></button>
                                <button type="button" class="product-btn" data-toggle="tooltip" title="" onclick="compare.add('50');" data-original-title="Compare this Product"><i class="linearicons-tab"></i></button>
                                <button type="button" data-rel="details" class="product-btn quickview" data-toggle="tooltip" title="" @onclick="(() => VerDetalle(producto.Id))" data-original-title="Quick View"><i class="linearicons-eye"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    }


}

