@page "/productos/admin"
@using PracticaBlazor.UI.Client.Services.ComentarioService
@using PracticaBlazor.UI.Shared.Models
@inject HttpClient Http
@inject NavigationManager Navigation
@inject IComentarioService ComentarioService
@inject IToastService toastService


<AuthorizeView Roles="ROLE_ADMIN, ROLE_COMPLETO">
    <Authorized>

        <div class="container containerPers">

            @if (_productos == null)
            {
                <div id="app" class="d-flex justify-content-center">
                    <div class="spinner-border" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </div>
            }
            else
            {
                <h1>INDEX ADMIN PRODUCTOS</h1>
                <div class="form-group">
                    <input class="form-control" type="text" placeholder="Filter..."
                       @bind="Filter"
                       @bind:event="oninput">
                </div>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Nombre</th>
                            <th>Categoria</th>
                            <th>Precio</th>
                            <th>Descripcion</th>
                            <th>Imagen</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var producto in _productos)
                        {
                            string head = "heading" + Index;
                            string collapsed = "collapse" + Index;
                            if (!IsVisible(producto))
                                continue;
                            <tr>
                                <td>@producto.Id.ToString()</td>
                                <td>@producto.Nombre</td>
                                <td>@producto.Categoria</td>
                                <td>@producto.Precio €</td>
                                <td>
                                    <div class="card">
                                        <div class="card-header" id="@head">
                                            <h5 class="mb-0">
                                                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#@collapsed" aria-expanded="false" aria-controls="@collapsed">
                                                    Descripción....
                                                </button>
                                            </h5>
                                        </div>
                                        <div id="@collapsed" class="collapse" aria-labelledby="@head" data-parent="#accordion">
                                            <div class="card-body">
                                                @producto.Descripcion
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td><img src="@producto.Imagen" style="max-width: 75px; max-height: 100px;"></td>
                                <td>
                                    <button class="btn btn-info"
                                    @onclick="(() => Edit(producto.Id))">
                                        Edit
                                    </button>

                                </td>
                                <td>
                                    <button class="delBoton btn-danger"
                                    @onclick="(() => Delete(producto.Id))">
                                        Delete
                                    </button>
                                </td>
                            </tr>
                            Index++;
                        }
                    </tbody>
                </table>
                <div>
                    <button class="btn btn-success" @onclick="Create">Añadir productos</button>
                </div>
            }
        </div>
    </Authorized>
    <NotAuthorized>
        @{
            Navigation.NavigateTo("/login");
        }
    </NotAuthorized>

</AuthorizeView>



