@page "/productos"
@page "/productos/{*nombre}"
@using PracticaBlazor.UI.Client.Services.CarroService
@using PracticaBlazor.UI.Client.Services.CategoriaService
@using PracticaBlazor.UI.Client.Services.ProductoService
@using PracticaBlazor.UI.Shared.Models
@inject HttpClient Http
@inject NavigationManager Navigation
@inject ICarroService CarroService
@inject IProductoService ProductoService
@inject ICategoriaService CategoriaService

<div class="container containerPers">
    <ul class="breadcrumb">
        <li><a href="/"><i class="fa fa-home"></i></a></li>
        <li><a href="/productos">Catálogo</a></li>
    </ul>

    @if (_productos == null)
    {
        <div id="app" class="d-flex justify-content-center">
            <div class="spinner-border" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
    }
    else
    {
        <div class="form-group" style="display:flex; width:50%;">
            <input class="form-control" type="text" placeholder="Filtro..."
               @bind="Filter"
               @bind:event="oninput">
               <select class="form-control inputPersonalizado divProductoFilter"
               @bind="FilterCategoria"
               @bind:event="oninput">
               <option selected value="0">Todos</option>
                @foreach (var cat in _categorias)
                {
                   <option value="@cat.Id">@cat.Nombre</option>

                }
               </select>
        </div>
        
            <div class="card-group" style="margin-bottom: 40px;">
                @foreach (var producto in _productos)
                {
                    if (!IsVisible(producto))
                        continue;
                    if (!IsVisibleCategoria(producto))
                        continue;
                    <div class="col-sm-3">
                        <div class="product-thumb transition  options borderProducto ">
                            <div class="image">
                                <a class="lazy lazy-loaded" href="/producto/ver/@producto.Id" style="width:300px; height:300px">
                                    <img alt="@producto.Nombre" title="@producto.Nombre" class="img-primary" data-src="@producto.Imagen" src="@producto.Imagen" />
                                </a>
                            </div>
                            <div class="caption">
                                <div class="price">
                                    @producto.Precio €
                                </div>
                                <div class="name"><a @onclick="(() => VerDetalle(producto.Id))">@producto.Nombre</a></div>
                                @if (@producto.Descripcion.Length < 50)
                                {
                                    <div class="description">@producto.Descripcion</div>
                                }
                                else
                                {
                                    <div class="description">@producto.Descripcion.Substring(0,70)...</div>
                                }

                                <div class="button-group">
                                    <button type="button" class="product-btn cart-btn" data-toggle="tooltip" title="" @onclick="(() => CombrobarCarrito(producto.Id))" data-original-title="Add to Cart">
                                        <i class="linearicons-cart"></i>
                                    </button>
                                    <button type="button" class="product-btn" data-toggle="tooltip" title="" onclick="wishlist.add('50');" data-original-title="Add to Wish List"><i class="linearicons-heart"></i></button>
                                    <button type="button" class="product-btn" data-toggle="tooltip" title="" onclick="compare.add('50');" data-original-title="Compare this Product"><i class="linearicons-tab"></i></button>
                                    <button type="button" data-rel="details" class="product-btn quickview" data-toggle="tooltip" title="" @onclick="(() => VerDetalle(producto.Id))" data-original-title="Quick View"><i class="linearicons-eye"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        


    }
</div>

