@using Blazored.Typeahead
@using PracticaBlazor.UI.Client.Services.CarroService
@using PracticaBlazor.UI.Client.Services.ProductoService
@using PracticaBlazor.UI.Shared.Models
@using System.Security.Claims
@using System.Text.Json
@inject HttpClient Http
@inject NavigationManager Navigation
@inject ICarroService CarroService
@inject IProductoService ProductoService


<header>
    <div class="container">
        <div class="top-line">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="fl-right">
                    </div>
                </div>
            </div>
        </div>
        <div class="mid-line">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                    <div id="logo" class="logo">
                        <a href="/">
                            <img src="https://livedemo00-opencart.template-help.com/opencart_prod-23516/image/catalog/logo.png" title="Electromo" alt="Electromo" class="img-responsive">
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 fl-right">
                    <div class="phone">
                        <a href="callto:800-2345-6789"><i class="linearicons-telephone"></i>800-2345-6789</a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 fl-left">
                    <BlazoredTypeahead SearchMethod="@SearchProduct"
                                       TValue="Producto"
                                       TItem="Producto"
                                       Value="selectedProduct"
                                       ValueChanged="HandleSearch"
                                       ValueExpression="@(() => selectedProduct)"
                                       placeholder="Buscar...">
                        <SelectedTemplate>
                            @context.Nombre
                        </SelectedTemplate>
                        <ResultTemplate>
                            @context.Nombre
                        </ResultTemplate>

                        <NotFoundTemplate>
                            No se encontraron productos.
                        </NotFoundTemplate>
                    </BlazoredTypeahead>
                    
                </div>
            </div>
        </div>
        <div class="bot-line">
            <div class="row">
                <div class="hidden-xs hidden-sm hidden-md hidden-lg">
                    <div class="navigation">
                        <div class="html-block">
                            <span class="cat-title" data-match-height="items-header" style="">Categories</span>
                        </div>

                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <nav id="top-links" class="nav toggle-wrap" data-match-height="items-header" style="height: 60px;">
                        <a class="toggle linearicons-cog2" href="#"></a>
                        <ul class="toggle_cont toggle_menu">
                            <li><a href="/"><i class="linearicons-home icon2" data-toggle="tooltip" title="" data-original-title="Home"></i><span>Home</span></a></li>
                            <li><a href="/productos"><i class="bi bi-shop-window" data-toggle="tooltip" title="" data-original-title="Catálogo"></i><span>Catálogo</span></a></li>
                            <li><a href="https://livedemo00-opencart.template-help.com/opencart_prod-23516/index.php?route=account/wishlist" id="wishlist-total"><i class="linearicons-star" data-toggle="tooltip" title="" data-original-title="Wish List (0)"></i><span>Wish List (0)</span></a></li>
                            <ZonaAdminButton />
                            <LoginLogoutButton />

                        </ul>
                    </nav>
                    <div class="box-cart" data-match-height="items-header" style="height: 60px;">
                        <div id="cart" class="cart toggle-wrap">
                            <button type="button" @onclick="Carrito" class="toggle">

                                <span id="cart-total" class="cart-total">

                                    @*@TotalCarrito*@
                                    @CarroService.TotalArticulos()

                                    <b>$0.00</b> <em>
                                        item(s)

                                    </em>
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>


